body {
  font-family: sans-serif;
  font-size: 14px;
}

.heading {
  font-weight: bold;
}

.quick-view_heading {
  font-size: 16px;
}

.take-part_heading {
  font-size: 20px;
}

li a {
  color: #4f83e8;
}
