/* 1 */
div + span {
  color: red;
}

/* 2 */
div + div li + li + li + li span {
  color: green;
}

/* 3 */
h3 + div a {
  text-decoration: none;
}

/* 4 */
body > h3 {
  background-color: blue;
}

/* <!--
Ничего НИЖЕ в разметке менять нельзя (можно только подключить стили 
на страницу)
1. Только <span> перед закрывающим тегом </body> 
должен быть красного цвета
2. Только "Text 8" - зеленого цвета
3. У ссылок только в первом списке нет подчеркивания (во втором списке есть)
4. "<h3>List</h3>" - синий фон
--> */
