$main-text-color: #555252;
$headers-color: #515151;
$cart-color: #323232;
$hover-color: #1abc9c;
$hover-light-color: #7fd9c7;
$white-color: #ffffff;
$black-color: #0f0101;
$background-cards-color: #e9f0fd;
$map-color: #2d3237;

$main-font: 'Open Sans',
sans-serif;
$secondary-font: 'Roboto',
sans-serif;