html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',
        sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    min-width: 32rem;
}

.container {
    margin: 0 auto;
    max-width: 111rem;
    width: 90%;
}