@import "./fonts.css";

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  min-width: 32rem;
}

.container {
  margin: 0 auto;
  max-width: 111rem;
  width: 90%;
}

/* В Е Р Х Н И Й     Х Е Д Д Е Р  */
.l-header-topline {
  background-color: #1abc9c;
}

.header-topline {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* width: 80%; */
}

.topline-contacts-list,
.topline-menu-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1.8rem 0;
}

.topline-contacts-item:not(:last-child),
.topline-menu-item:not(:last-child) {
  padding-right: 3rem;
}

.topline-contacts-link,
.topline-menu-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
  transition: color 200ms linear;
}

.topline-contacts-link::after,
.topline-menu-link::after {
  content: "";
  display: block;
  width: 0;
  margin: 0.2rem auto 0;
  border-bottom: 0.1rem solid #fff;
  -webkit-transition: width 200ms;
  -o-transition: width 200ms;
  transition: width 200ms;
}

.topline-contacts-link:hover,
.topline-contacts-link:focus,
.topline-menu-link:hover,
.topline-menu-link:focus {
  color: #fff;
}

.topline-contacts-link:hover::after,
.topline-menu-link:hover::after {
  width: 100%;
}

/* Н И Ж Н И Й     Х Е Д Д Е Р */
nav {
  display: flex;
  align-items: center;
}

.l-header-bottomline {
  /* background-color: #fff; */
  border-bottom: 1px solid #1abc9c;
}

.header-bottomline {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}


.logo-header::first-letter {
  color: #1abc9c;
  font-weight: 700;
}

.logo-header {
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #555252;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  transition: transform 200ms linear;
}

.logo-header:hover,
.logo-header:focus {
  transform: scale(1.15);
}

.header-bottomline-list {
  display: flex;
  flex-wrap: wrap;
}

.header-bottomline-item:not(:last-child) {
  padding-right: 3rem;
}

.header-bottom-link {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #0f0101;
  font-weight: bold;
  transition: color 200ms linear;
}


.header-bottom-link:hover,
.header-bottom-link:focus,
.header-bottom-link:active {
  color: #1abc9c;
}

.header-cart-list {
  display: flex;
  align-items: center;
}

.header-cart-item:not(:last-child) {
  padding-right: 1rem;
}

.header-cart-link {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #0f0101;
}

.header-cart-link:hover,
.header-cart-link:focus {
  color: #1abc9c;
  transition: color 200ms linear;
}

.cart-basket {
  display: inline-block;
  position: relative;

}

.cart-basket-body {
  font-size: 1.4rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid #000;
  position: relative;
  text-align: center;
  background: #fff;
  color: #1abc9c;
  z-index: 2;
}

.cart-basket-handle {
  position: absolute;
  width: 1.1rem;
  height: 1.1rem;
  border: 1px solid #000;
  border-radius: 50%;
  top: -6px;
  right: 5px;
  z-index: 1;
}

/* S L I D E R */

.slider {
  position: relative;
  /* padding-top: 14rem; */
}

.l-slider {
  box-sizing: border-box;
}

.slides-img {
  width: 100%;
  object-fit: cover;
}

.slides-item-info {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  width: 60%;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider-button-prev {
  left: 0;
}

.slider-button-next {
  right: 0;
}

.pe-7s-angle-right,
.pe-7s-angle-left {
  font-size: 7rem;
}

.icon-angle {
  width: 7rem;
  height: 7rem;
  background-color: #4ec6ab;
  opacity: 0.5;
  color: #ffffff;
  display: inline-block;
  border: none;
  cursor: pointer;

}

.icon-angle:hover,
.icon-angle:focus {
  background-color: #1abc9c;
  opacity: 1;
}

.slides-button-main {
  background: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Roboto";
  color: #fffcfc;
  padding: 1.2rem 2.8rem;
  border: 2px solid #1abc9c;
  position: absolute;
  top: 110%;
  transform: translateX(-50%);
  cursor: pointer;

}


.slides-button-main:hover,
.slides-button-main:focus {
  background: #1abc9c;
  transition: background 200ms linear;
}


.slides-link-description {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: #fffcfc;
  text-transform: uppercase;
  text-decoration: none;
}

.slides-link-ampersand {
  color: #1abc9c;
  font-weight: 700;
}

.slides-link-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fffcfc;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.slides-link-text span {
  color: #1abc9c;
  font-weight: 600;
}



/* M A I N   I N F O */
.l-main-info {
  margin: 0 auto;
  padding-top: 10rem;
  /* width: 80%; */
}

.main-info-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-info-item {
  padding: 0 10%;
}

.main-info-item:not(:last-child) {
  margin-bottom: 3rem;
}

.main-info-link {
  color: #555252;
}

.main-icon {
  font-size: 6.6rem;
  margin-bottom: 6rem;
}

.main-info-header {
  font-family: "Roboto";
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.main-header-text {
  line-height: 1.714;
  font-size: 1.4rem;
  font-weight: 100;
}


.main-info-link:hover .main-icon,
.l-main-link-header:focus .main-icon,
.main-info-link:hover .main-info-header,
.main-info-link:focus .main-info-header {
  color: #1abc9c;
}

/* N E W   C O L L E C T I O N */
.new-collection {
  display: flex;
  /* flex-direction: row; */
}

.uikit__row5 {
  padding: 20px;
  background-color: #e9f0fd;
}

.wraper-card {
  position: relative;
}

.card {
  display: grid;
  grid-template-columns: 1fr 21.18%;
  position: relative;
}

.card__img {
  grid-column: 1 /3;
  height: auto;
  width: 100%;
  justify-self: center;
}

.card__produckt-name {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #323232;
  box-sizing: border-box;
  padding: 10px;
}

.card__price {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #8c8c8c;
  box-sizing: border-box;
  padding: 10px;
}

.card__label-new {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #555252;
  padding: 8px 17px 9px 18px;
  border: 1px solid #000000;
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

.card__label-sale {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #555252;
  padding: 9px 16px;
  border: 1px solid #000000;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.card_new>.card__label-new {
  display: block;
}

.card_sel>.card__label-sale {
  display: block;
}

.overlay-buy {
  width: 235px;
  height: 260px;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-gap: 9px;
  font-size: 30px;
  justify-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgba(50, 50, 50, 0.5);
  color: #ffffff;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
  transition: opacity 1s;
}

.overlay-buy__item {
  border: 1px solid #ffffff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-buy__add {
  grid-column: 1 / 4;
  width: 100%;
  background-color: #323232;
}

.overlay-buy__add-text {
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-size: 14px;
}

.overlay-buy__item:hover,
.wraper-card:hover .card__produckt-name,
.wraper-card:hover .card__price {
  background-color: #1abc9c;
}

.wraper-card:hover>.overlay-buy {
  opacity: 1;
}

/* --------------- */

.product-list {
  padding-bottom: 100px;
  margin: 0 auto;
}

.product-list-item {
  float: left;
  width: 255px;
  margin-right: 30px;
  list-style: none;
  line-height: 40px;
}

.product-list-item:nth-child(4n) {
  margin-right: 0;
}

.img {
  position: relative;
}

.img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  box-sizing: border-box;
  border: 10px solid rgba(255, 255, 255, 0.5);
}

.product-list-item:hover .img-overlay {
  display: block;
}

.img-buttons {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-icon {
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: rgba(50, 50, 50, 0);
  opacity: 1;
  background-position: center;
  margin: 0 8px 8px 0;
}

.button-icon:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
  opacity: 1;
}

.icon-heard {
  background-image: url(../img/heart.png);
  background-repeat: no-repeat;
}

.icon-arrows {
  background-image: url(../img/random.png);
  background-repeat: no-repeat;
}

.icon-clock {
  background-image: url(../img/clock.png);
  background-repeat: no-repeat;
  margin-right: 0;
}

.icon-cart {
  width: 166px;
  height: 50px;
  background-color: rgb(50, 50, 50);
  border: 1px solid #fff;
  cursor: pointer;
  background-position: center;
}

.icon-cart:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
  opacity: 1;
}

.cart-text {
  display: block;
  box-sizing: border-box;
  /* font-family: var(--semi-font); */
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 46px;
}

.cart-text::before {
  content: "";
  display: inline-block;
  background-image: url(../img/cart.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 28px;
  height: 28px;
  padding: 10px;
  vertical-align: middle;
  margin-right: 20px;
}

.product-sign__div {
  background-color: rgb(50, 50, 50);
}

.product-sign-name {
  /* font-family: var(--main-font); */
  font-size: 18px;
  margin: 0;
  padding: 0;
  padding-left: 14px;
  width: 200px;
  height: 40px;
  text-transform: uppercase;
  float: left;
  color: #fff;
  box-sizing: border-box;
}

.product-sign-price {
  /* font-family: var(--main-font); */
  font-size: 18px;
  width: 55px;
  margin: 0;
  padding: 0;
  height: 40px;
  text-transform: uppercase;
  float: right;
  color: #fff;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.product-list-item:hover .product-sign__div {
  background-color: rgb(26, 188, 156);
}