.l-banner {
    position: relative;
}

.banner {
    position: relative;
    background: url(../img/sale-banner2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    z-index: 1;
}

.banner::before {
    content: '';
    width: 100%;
    background-color: $background-overlay;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.banner-info-link {
    padding: 17rem 0 13rem 0;
    color: $white-color;
    font-family: $main-font;
    display: block;
    text-align: center;
}

.banner-info-header {
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    color: $white-color;
    z-index: 500;
}

.banner-info-text {
    font-size: 3rem;
    font-weight: 100;
}