.footer {
    background-color: $black-color;
    font-size: 1.6rem;
    font-weight: 300;
    color: $white-color;
    text-align: center;
    padding: 3rem 0;
}

.footer-link {
    color: $hover-color;
}