/* S L I D E R */

.slider {
  position: relative;
}

.l-slider {
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.slides-img {
  width: 100%;
  object-fit: cover;
}

.slides-item-info {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  width: 80%;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider-button-prev {
  left: 0;
}

.slider-button-next {
  right: 0;
}

.pe-7s-angle-right,
.pe-7s-angle-left {
  font-size: 7rem;
}

.icon-angle {
  width: 7rem;
  height: 7rem;
  background-color: $hover-color;
  opacity: 0.5;
  color: $white-color;
  display: none;
  border: none;
  cursor: pointer;
}

.icon-angle:hover,
.icon-angle:focus {
  background-color: $hover-color;
  opacity: 1;
}

.slides-button-main {
  background: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Roboto";
  color: $white-color;
  padding: 0.8rem 1.5rem;
  border: 1px solid $hover-color;
  position: absolute;
  top: 110%;
  transform: translateX(-50%);
  cursor: pointer;
  box-sizing: border-box;
}


.slides-button-main:hover,
.slides-button-main:focus {
  background: $hover-color;
  transition: background 200ms linear;
}


.slides-link-description {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;
}

.slides-link-ampersand {
  color: $hover-color;
  font-weight: 700;
}

.slides-link-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.slides-link-text span {
  color: $hover-color;
  font-weight: 600;
}

@media screen and (min-width: 768px) {

  .slides-link-description,
  .slides-link-text {
    font-size: 3.4rem;
  }

  .slides-button-main {
    font-size: 1.4rem;
    padding: 1.2rem 2.8rem;
    border: 2px solid $hover-color;
  }

  .icon-angle {
    display: inline-block;
    width: 10.4rem;
    height: 10.4rem;
  }

  .pe-7s-angle-right,
  .pe-7s-angle-left {
    font-size: 10rem;
  }

  .slides-item-info {
    width: 60%;
  }
}